.report-box-message {
  color: grey;
  font-weight: 500 !important;
  font-size: 40px !important;
}

.report-box-main-figure {
  color: grey;
  font-weight: 500 !important;
  font-size: 80px !important;
}

.report-box-increase-message {
  color: #adff2f;
  font-weight: 500 !important;
  font-size: 30px !important;
}

.report-box-sub-increase-figure {
  color: #adff2f;
  font-weight: 200 !important;
  font-size: 50px !important;
}
.report-box-sub-decrease-figure {
  color: red;
  font-weight: 200 !important;
  font-size: 50px !important;
}
.font-color-green {
  color: #adff2f;
}
.font-color-red {
  color: red;
}
